:root {
    --brandColor: #F55253;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

nav div {
    height: 90px;
}

.navbar-nav {
    margin: 0 auto; /* Center the ul horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-nav li {
    margin-right: 15px;
}

.nav-link:hover {
    color: var(--brandColor);
}

.activeLink {
    color: var(--brandColor);
}

.searchBar {
    height: 54px;
    width: 290px;
}

.vertical {
    border-left: 2px solid #eeecec;
    height: 30px;
}

.cartBtn {
    width: 50px;
}

/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .listMargin {
        margin-left: 3%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .listMargin {
        margin-left: 8%;
    }
}